.video {
  margin: 0;
  padding: 100px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  z-index: 2;
}
